################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetPractices.WebSockets/NetPractices.WebSockets/obj/Debug/netcoreapp1.1
